.SkillsFlexItem {
  width: 160px;
  display: inline-block;
  border: 1px solid red;
  text-align: center;
}

.SkillsIcon {
  width: 140px;
  height: 140px;
}

.SkillsText {
  display: inline;
  color: aliceblue;

  font-size: 20px;
}
