.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.demo {
  font-size: 90px;
  color: red;
  border: 2px Green solid;

  display: inline;
}

.demo:before {
  content: 'Demo';
}
.demo:before:hover {
  color: purple;
}

.demo:after {
  content: 'After';
}
