.header {
  border-bottom: 1px solid aliceblue;
  color: #482ff7;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  width: stretch;
  height: 75px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #222222;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navitem {
  margin-left: 5rem;
  width: 100px;
}

.navlink {
  display: block;
  font-size: 1.75rem;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  width: stretch;
  text-align: center;
  border-radius: 7px;
  border: 1px solid aliceblue;
  background-color: #43d41a;
  padding: 0.25rem 0.5rem;
  background-image: linear-gradient(to right, #b48c59, #b48c59, #fef49d);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  cursor: pointer;
  width: 100px;
}

.navlink:hover {
  background-position: 100% 0%;
}

.navlogo {
  font-size: 2.1rem;
  font-weight: 500;
  color: black;
}

.searchBar {
  width: 100%;
  padding: 0 30px;
  min-width: 240px;
}

@media only screen and (max-width: 768px) {
  .navmenu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #2b4b40;
    border: 2px solid #b48c59;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navmenu.active {
    left: 0;
  }

  .navitem {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

.foodylogo {
  padding-top: 7px;
}

/* Color Pallete 
#b48c59
#fef49d
#92a742
#2b4b40
#143840


#34353b
*/
