.createRecipe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0 0;
  border: solid blue 1px;
}

.createRecipe label {
  position: absolute;
  left: -99999px;
}

.createRecipe input {
  text-align: center;
  align-self: center;
  background-color: aliceblue;
  width: fill;
  max-width: 860px;
  min-height: 48px;
  font-size: 17.5px;
  padding: 00.25rem;
  border-radius: 7px;
  margin-top: 25px;
  outline: none;
}

#photoInput {
  padding-top: 10px;
  padding-left: 350px;
}

.uploadImage {
  height: 150px;
  width: 150px;
  margin-top: 20px;
  align-self: center;
  overflow: hidden;
  border-bottom: 1px solid aliceblue;
  border-radius: 7px;
}

.createSubmit {
  display: block;
  font-size: 1.75rem;
  font-weight: 400;
  width: 100px;
  text-align: center;
  align-self: center;
  border-radius: 7px;
  margin-top: 20px;
  padding: 0.25rem 0.5rem;
  border: 1px solid aliceblue;
  background-color: #43d41a;
  background-image: linear-gradient(to right, #b48c59, #b48c59, #fef49d);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: black;
  cursor: pointer;
}

.createSubmit:focus,
.createSubmit:hover {
  color: white;
  background-color: limegreen;
  outline: none;
}
