.createRecipe {
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  margin: 0.5rem 0 0;
  border-bottom: 1px solid aliceblue;
}

.createRecipe label {
  position: absolute;
  left: -99999px;
}

.createRecipe input {
  text-align: center;
  align-self: center;
  background-color: aliceblue;
  width: fill;
  max-width: 860px;
  min-height: 48px;
  font-size: 17.5px;
  padding: 00.25rem;
  border-radius: 7px;
  margin-top: 25px;
  outline: none;
}

#photoInput {
  padding-top: 10px;
  padding-left: 350px;
}

.uploadImage {
  height: 150px;
  width: 150px;
  margin-top: 20px;
  align-self: center;
  overflow: hidden;
  border-bottom: 1px solid aliceblue;
  border-radius: 7px;
}

.createSubmit {
  height: 48px;
  width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: aliceblue;
  color: pink;
  cursor: pointer;
}

.createSubmit:focus,
.createSubmit:hover {
  color: white;
  background-color: limegreen;
  outline: none;
}


