.searchWrapper {
  display: flex;
}

.SearchRecipes {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid red;
}

.searchIcon {
  height: 30px;
  width: 30px;
  background-color: aliceblue;
  display: grid;
  place-items: center;
  color: black;
  border-radius: 0px 7px 7px 0px;
}

.searchIcon svg {
  font-size: 25x;
  background-color: aliceblue;
}

.searchInput {
  border-radius: 7px 0px 0px 7px;
  height: 30px;
  background-color: aliceblue;
  padding-left: 20px;
  font-size: 1.5rem;
  width: 90%;
  border: none;
}

input:focus {
  outline: none;
}

.searchResult {
  background-color: aliceblue;
  width: 300px;
  display: inline-block;
}

.dataItem p {
  color: aliceblue;
}
