.searchWrapper {
  display: flex;
}

.SearchRecipes {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid red;
}

.searchIcon {
  height: 30px;
  width: 30px;
  background-color: aliceblue;
  display: grid;
  place-items: center;
  color: black;
  border-radius: 0px 7px 7px 0px;
}

.searchIcon svg {
  font-size: 25x;
  background-color: aliceblue;
}

.searchInput {
  border-radius: 7px 0px 0px 7px;
  height: 30px;
  background-color: aliceblue;
  padding-left: 10px;
  font-size: 1.5rem;
  width: 90%;
}

input:focus {
  outline: none;
}

.searchResult {
  background-color: aliceblue;
  margin-top: 2px;
  width: 300px;
  height: 40px;
  border: red solid 1px;
  display: inline-block;
  overflow: hidden;
  overflow-y: auto;
  z-index: 5;
  border-radius: 7px;
}

.searchResult::-webkit-scrollbar {
  display: none;
}

.dataItem {
  display: flex;
}

.dataItem p {
  color: black;
  font-size: 1.5rem;
  background-color: aliceblue;
  margin-left: 10px;
}

button {
  text-align: left;
}

button:hover {
  background-color: lightgrey;
}
