.Recipe {
  display: flex;
  border: 2px solid aliceblue;
  height: 624px;
  background-color: aliceblue;
  border-radius: 7px;
}

.RecipeTextHolder {
  background-color: aliceblue;
  margin: 25px 0px;
  border-right: 1px solid black;
}

.TimeHolder {
  display: flex;
  justify-content: space-evenly;
  background-color: aliceblue;
  color: black;
  text-transform: uppercase;
  padding: 25px;
  margin: 0px 25px;
  border-bottom: 1px solid black;
}

.rTime {
  background-color: aliceblue;
  color: black;
  padding-left: 5px;
  font-size: 14px;
}

.RecipeTitle {
  color: black;
  text-align: center;
  font-size: 17.5px;
  font-weight: 700;
  background-color: aliceblue;
}

.RecipeImage {
  width: 405px;
  height: 624px;
  align-self: center;
  overflow: hidden;
  border-bottom: 1px solid aliceblue;
  border-radius: 7px;
  background-color: aliceblue;
  padding: 25px;
}

.RecipeDescription {
  color: black;
  font-size: 14px;
  background-color: aliceblue;
  width: 405px;
  min-height: 100px;
  margin: 25px 25px;
  padding: 0px 0px 30px;
  border-bottom: 1px solid black;
}

.Description {
  color: black;
  font-size: 17.5px;
  background-color: aliceblue;
  font-weight: 700;
  padding-bottom: 7px;
}

.RecipeInstructions {
  color: black;
  font-size: 14px;
  background-color: aliceblue;
  width: 405px;
  min-height: 100px;
  margin: 25px 0px;
  padding: 0px 25px;
  font-weight: 400;
}

.Instructions {
  color: black;
  font-size: 17.5px;
  background-color: aliceblue;
  font-weight: 700;
}

.InstructionsFor {
  background-color: aliceblue;
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
}

.RecipeDetails {
  background-color: aliceblue;
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
}

.InstructionsP {
  background-color: aliceblue;
  font-size: 14px;
  font-weight: 500;
}

.title {
  color: black;
}

.RecipeNavInner {
  width: stretch;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}

.RecipeNavInner button {
  font-size: 1.75rem;
  border-radius: 7px;
  margin-top: 20px;
  text-transform: uppercase;
  border: 1px solid aliceblue;
  height: 30px;
  width: 100px;
  background-image: linear-gradient(to right, #b48c59, #b48c59, #fef49d);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  cursor: pointer;
}

.RecipeNavInner button:hover {
  background-position: 100% 0%;
}

#recipeBack {
  float: left;
}

#recipeForward {
  float: right;
}

@media only screen and (max-width: 768px) {
  .Recipe {
    width: 500px;
  }
}
