.Recipe {
  display: flex;
  flex-direction: row-reverse;
  border: 2px solid aliceblue;
  width: 810px;
  height: 624px;
  background-color: aliceblue;
}

.RecipeTitle {
  color: aliceblue;
  text-align: center;
  font-size: 17.5px;
  margin-bottom: 10px;
}

.RecipeImage {
  width: 405px;
  height: 624px;
  align-self: center;
  overflow: hidden;
  border-bottom: 1px solid aliceblue;
  background-color: aliceblue;
  padding: 25px;
}

.RecipeDescription {
  color: black;
  font-size: 14px;
  background-color: aliceblue;
  width: 405px;
  min-height: 100px;
  margin: 25px 0px;
  padding: 0px 25px;
  border-right: 1px solid black;
}

ul {
}

.recipe {
}

.title {
  color: black;
}

.instructions {
}

.RecipeNavInner {
  width: stretch;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
}

.RecipeNavInner button {
  font-size: 1.75rem;
  border-radius: 7px;
  margin-top: 20px;
  height: 30px;
  width: 80px;
  background-image: linear-gradient(to right, #b48c59, #b48c59, #fef49d);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  cursor: pointer;
}

.RecipeNavInner button:hover {
  background-position: 100% 0%;
}

#recipeBack {
  float: left;
}

#recipeForward {
  float: right;
}
