.Recipe {
  display: flex;
  flex-direction: column;
  border: 2px solid aliceblue;
  width: 410px;
  height: 424px;
}

.RecipeTitle {
  color: aliceblue;
  text-align: center;
  font-size: 17.5px;
  margin-bottom: 10px;
}

.RecipeImage {
  width: 405px;
  height: 320px;
  object-fit: cover;
  overflow: hidden;
  border-bottom: 1px solid aliceblue;
}

.RecipeDescription {
  color: aliceblue;
  font-size: 22px;

  width: 405px;
  min-height: 100px;
}

ul {
}

.recipe {
}

.title {
  color: black;
}

.instructions {
}

.RecipeNavInner {
  width: stretch;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.RecipeNavInner button {
  font-size: 1.75rem;
  border: 1px solid green;
  border-radius: 7px;
  margin-top: 20px;
  height: 30px;
  width: 75px;
  background-image: linear-gradient(to right, #b48c59, #b48c59, #fef49d);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  cursor: pointer;
}

.RecipeNavInner button:hover {
  background-position: 100% 0%;
}

#recipeBack {
  float: left;
}

#recipeForward {
  float: right;
}
