* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: black;
}

html,
body,
body * {
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  background-color: #2b4b40;
  font-size: 62.5%;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

button:focus {
  outline: none;
}

/* Color Pallete 
#b48c59
#fef49d
#92a742
#2b4b40
#143840


#34353b
*/
